<form action="/<%= band.id %>" method="POST">
    <label for="name">Band name</label>
    <input type="text" name="name" placeholder="Enter a band name" >

    <label for="yearsActive">Years Active</label>
    <textarea name="yearsActive" placeholder="Enter Years Active, for multiple periods seperate with a comma"></textarea>

    <label for="genre">Genre</label>
    <input name="genre" placeholder="Genre"><%= band.body %></input>

    <label for="members">Members:</label>
    <input type="number" name="members" min="0">

    <label for="rating">Rating:</label>
    <input type="number" name="rating" min="0" max="5">

    <label for="image">Image Url:</label>
    <input type="text" name="image">


    <input type="submit" value="Save band">
    <% if(band.id != "") { %>
    <input type="hidden" name="_method" value="PUT">
    <% } %>
</form>